#homepage-container {
	/* Valeur simple */
	background-image: url('../img/danny-howe-vESk46kcm9g-unsplash.jpg');
	background-position: center;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-size: 96px;
	line-height: 127px;
	color: #ffc700;
}
.presentation-circle-section {
	display: flex;
	justify-content: center;
}
.presentation-circle-container {
	height: 400px;
	width: 400px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	background: #ffb800;
	/*  */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.presentation-circle-container p {
	font-size: 36px;
	padding-top: 15%;
	padding-bottom: 15%;
}

.presentation-circle-container div {
	width: 90%;
	height: 0px;
	border: 1px solid #000000;
}

.navbar-section {
	display: flex;
	justify-content: center;
}

.navbar-container {
	width: 90%;
	height: 80px;
	background: #ffc700;
	border-radius: 10px;
	/*  */
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar-container p {
	font-size: 30px;
	transition: text-shadow 400ms;
}

.navbar-container p:hover {
	/* text-decoration: underline; */
	text-shadow: 4px 3px 2px white;
}
