.echoes-project-wrapper {
	background-color: #323232;
	padding-top: 2%;
	/* Flex */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-wrapper {
	width: 100%;
	margin-bottom: 4%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-wrapper h2 {
	font-size: 2em;
	margin-bottom: 1%;
	color: white;
}

.header-wrapper div {
	width: 30%;
	height: 0px;
	border: 0.5px solid #ffb800;
}

.echoes-info-wrapper {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 3%;
	box-sizing: border-box;
	/* flex */
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.echoes-picture-wrapper {
	width: 60%;
	/* flex */
	display: flex;
	justify-content: center;
}

.echoes-despription-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 4% 10%;
}

.echoes-despription-wrapper p {
	font-size: 1em;
	text-align: left;
	line-height: 30px;
	/* color: #ffb800; */
	color: white;
}
.echoes-stacks-wrapper {
	width: 100%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.echoes-stacks-wrapper h2 {
	color: white;
	font-size: 1.5em;
	box-sizing: border-box;
	padding-bottom: 1%;
}
.stack-separator {
	width: 30%;
	height: 0px;
	border: 0.5px solid #ffb800;
}
.echoes-stacks-container {
	width: 100%;
	box-sizing: border-box;
	padding-top: 7%;
	/* flex */
	display: flex;
	justify-content: space-around;
}

.echoes-stack-container {
	width: 100%;
	/* flex */
	display: flex;
	justify-content: space-around;
}

.echoes-stack-container div {
	width: 100%;
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.echoes-stack-container div img {
	width: 7vw;
	box-sizing: border-box;
	padding-bottom: 3%;
}

.project-echoes-wrapper {
	width: 100%;
	padding: 10%;
	box-sizing: border-box;
	/* flex */
	display: flex;
	justify-content: center;
}

.project-echoes-link-container {
	width: 40%;
	height: 60px;
	background-color: #ffb800;
	border-radius: 10px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 10px 10px -5px black;
	box-sizing: border-box;
	/* flex */
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-echoes-link-container p {
	font-size: 1.7vw;
	color: #000000;
}

.project-echoes-link {
	font-size: 1.7vw;
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.echoes-logos-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 0 1% 0 1%;
	/* flex */
	display: flex;
	justify-content: space-around;
}

.echoes-logo-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.echoes-logo {
	object-fit: cover;
	object-position: center;
	/* flex */
	display: flex;
}

.echoes-logo img {
	width: 7vw;
}
