.portfolio-project-wrapper {
	width: 100%;

	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-main-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 7% 0;
	box-sizing: border-box;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.portfolio-picture-wrapper {
	width: 100%;
}
.portfolio-picture-wrapper img {
	width: 50%;
	position: relative;
	border-radius: 10px;
}

.portfolio-picture-wrapper p {
	font-size: 1.3vw;
	color: white;
	box-sizing: border-box;
	padding-top: 1%;
}
.portfolio-info-wrapper {
	width: 60%;
	box-sizing: border-box;
	padding: 5%;
}

.portfolio-info-wrapper p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	text-align: left;
	line-height: 30px;
	color: white;
}

.portfolio-stacks-wrapper {
	width: 100%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-stacks-wrapper h2 {
	color: white;
	font-size: 3vw;
	box-sizing: border-box;
	padding-bottom: 1%;
}
.stack-separator {
	width: 30%;
	height: 0px;
	border: 0.5px solid #ffb800;
}
.portfolio-stacks-container {
	width: 100%;
	box-sizing: border-box;
	padding-top: 7%;
	/* flex */
	display: flex;
	justify-content: space-around;
}

.portfolio-stack-container {
	width: 100%;
	/* flex */
	display: flex;
	justify-content: space-around;
}

.portfolio-stack-container div {
	width: 100%;
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-stack-container div img {
	width: 7vw;
	box-sizing: border-box;
	padding-bottom: 3%;
}

.portfolio-repo-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding-top: 10%;
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
