.skills-page-wrapper {
	width: 100%;
	padding: 2% 2% 1% 2%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: center;
}

.skills-logo-top-section {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.skills-logo-top-section img {
	/* height: 20%; */
	width: 10%;
}

.skills-logo-middle-section {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills-logo-middle-section img {
	width: 10%;
}

.skills-logo-bottom-section {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 10vw;
}

.skills-logo-bottom-section img {
	width: 10%;
}

.skills-title-circle {
	width: 35%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills-title-circle h2 {
	font-size: 3vw;
	padding: 3%;
	color: #ffb800;
}

.skills-title-circle div {
	width: 80%;
	height: 0px;
	border: 1px solid #ffb800;
}
