.App {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	min-height: 100vh;
	display: flex;
	background-color: #323232;
}

.Link {
	text-decoration: none;
	color: #000000;
}

li {
	list-style-type: circle;
}
