.App {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	background-color: #323232;
}

.Link {
	text-decoration: none;
	color: #000000;
}

.text-hidden {
	font-size: 1.5em;
	color: #323232;
	box-sizing: border-box;
	padding-top: 1%;
}

.text-show {
	font-size: 1.5em;
	color: white;
	box-sizing: border-box;
	padding-top: 1%;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
.intersection-separator {
	width: 90%;
	height: 0px;
	border: 0.5px solid #ffb800;
	margin: 2%;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
